<% set_meta_tags title: "アクセスページ" %>
<% set_meta_tags description: "ichiのアクセスページです" %>
<div class="main">
  <div class="block">
    <h2 class="bg_sunflower">アクセス</h2>
    <div class="contents">
      <p>
        <i class="fas fa-map-marker-alt my-blue"></i>
          東京都板橋区成増<br>(※プライベートサロンのため、住所の詳細は、ご予約いただいたお客様にのみにお電話にてお伝えいたします。)<br>
          東武東上線 成増駅から徒歩2分<br>
          東京メトロ副都心線 地下鉄成増駅から徒歩1分
      </p>
      <br>
      <p><i class="fas fa-phone fa-flip-horizontal my-blue"></i> 03-6904-1073</p>
      <p>トリートメント中は電話に出る事ができませんので、メッセージ(お名前、ご連絡先)を残して頂ければ折り返しご連絡いたします。</p>
      <br>
      <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3236.9171812923323!2d139.63096071526144!3d35.77741068017201!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018ec75b1cc3f83%3A0x7701f73700145a5f!2z5oiQ5aKX6aeF!5e0!3m2!1sja!2sjp!4v1562093639562!5m2!1sja!2sjp" width="100%" height="500px;" frameborder="0" style="border:0" allowfullscreen></iframe></p>
     </div>
  </div>
</div>

