<div class="main">
  <div class="block">
    <h2 class="bg_sunflower">注意事項</h2>
    <div class="contents">
      <p style="color: red; font-size: 14px; font-weight: bold;">
        ※以下の注意事項はご予約前に必ずお読みください。
      </p>
      当サロンの施術は、リラクゼーションやリフレッシュ、美と健康の維持増進を目的としております。<br>
      治療を目的としたものではありません。
      <br>
      <br>
      <p>次の項目のいずれかに当てはまる場合は、お受けいたしかねますのでご了承下さい。</p>

      <ul>
        <li>医師による治療を受けている方、又は医師の許可を得ていない方</li>
        <li>妊娠している可能性のある方</li>
        <li>発熱している、極度に体力を消耗している方</li>
        <li>飲酒をした状態の方</li>
        <li>手術後間もない方</li>
        <li>皮膚疾患、水虫の方</li>
        <li>ガン、心臓病、高血圧、腎臓疾患、糖尿病、リウマチ、 骨粗しょう症の方、てんかんをお持ちの方</li>
        <li>けが、やけど、打撲、捻挫などの急性の炎症がある方</li>
        <li>椎間板ヘルニア、ムチウチ、すべり症、分離症の方</li>
      </ul>
    </div>
  </div>
  
  <div class="block">
    <h2 class="bg_pinkflower">ご予約変更・キャンセルについて</h2>
    <div class="contents">
      <ul>
        <li>日時変更は、ご予約日の「前日」までにご連絡をお願い致します</li>
        <li>当日キャンセル、無断キャンセルされた場合、キャンセル料としてトリートメント代金の全額を頂戴いたします</li>
        <li>ご予約時間開始から15分以上過ぎた場合は、セラピーの時間を短縮、または当日セラピーが出来ない場合がございます (次の時間にご予約を頂いているお客様に影響が出てしまう為です)</li>
        <li>当日セラピーが出来なかった場合、当日キャンセルと同じ扱いとなります</li>
      </ul>
      <br>
      <p>ichiに来てくださるお客様に快適なお時間を過ごして頂けるよう、メニューや状況に合わせてご予約時間の設定をしております。</p>
      <p>当日の遅刻、当日キャンセル、無断キャンセルは、予約を取りたい他のお客様に大変ご迷惑となります。</p>
      <p>お客様に気持ち良く通って頂けるよう、大変恐縮ではございますが、ご理解ご協力のほど、よろしくお願い申し上げます。</p>
    </div>
  </div>
</div>
