
<div id="new_user_reservation" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

    <!-- Start Slider-->

        <!-- End cssSlider -->
  <div class="main">
  <div class="block top_block">
  <h2 class="bg_sunflower">ichiについて</h2>
    <div class="contents"><h3><a>「一期一会」</a></h3>
    <h4>～once-in-a-lifetime encounter～</h4>
    <p>お客様にとっての、“No.1”、“Only1”になりたいという想いから、「ichi」と名付けました。</br>
    出会いを大切に想い、今できる最高のおもてなしをお客様にご提供いたします。</br>
    心、身体の疲れを癒し、慌ただしい日常とは違う空間で、心からリラックスしていただけるよう、</br>
    お客様のニーズ、コンディションに合わせ、あなただけのオリジナルメニューをご提案いたします。</br>

    お客様の本来の美しさを引き出し、お客様一人一人の魅力を最大限に引き出します。</br>
    ご自身へのご褒美に、ゆったりとした時間をプライベートサロン「ichi」でお過ごしいただけたら嬉しいです。</p><br></div>
  </div>
  <div class="block">
    <h2 class="bg_pinkflower">セラピスト紹介</h2>
    <div class="contents">
      
      
<div id="pro_info">            
            <div id="hirosawa" class="profile">
              <h4 style="background: #CC5289;">オーナー：廣澤 愛</h4>
        
              <dl class="history">
                <dt>■&nbsp;施術歴</dt>
                <dd>12年</dd>
              </dl>
              <dl class="technique">
                <dt>■&nbsp;得意な技術</dt>
                <dd>タイ古式マッサージ</dd>
              </dl>
              <dl class="hobby">
                <dt>■&nbsp;趣味・マイブーム</dt>
                <dd>魚釣り</dd>
              </dl>
              <dl class="message">
                <dt style="vertical-align:top;">■&nbsp;ひとこと</dt>
                <dd>女性でも安心してお越しいただけるようなプライベートサロンになっております。「ここに来て良かった。」と言っていただけるよう、日々努力しております。<br>至福の癒しを、「ichi」にてぜひご堪能ください。</dd>
              </dl>
             
          </div>
</div>
      
      
      
      
    </div>
    <h2 class="bg_blueflower">お客様の声</h2>
    <div class="contents">
    <p>【もみほぐし・30代女性】廣澤さんの確かな技術と温かい笑顔に癒されて、昨年の11月からリピーターになりました。<br>
自分だけの時間を大切にしたい私にぴったりな、隠れ家的プライベートサロンです。</p>
<p>【もみほぐし・40代女性】
マッサージは、海外旅行に行った時くらいで、日本では受けたことありませんでした。同僚のススメもあり、はじめて受けた後、こんなに身体が疲れている事がわかりました。
もみほぐし後は身体が軽くなるのを感じています！
</p>
<p>【もみほぐし・30代女性】
体力勝負の仕事なので、身体は常にボロボロでした。
足も腰も辛かったのですが、もみほぐしを受けると翌日は走れるくらい身体が楽になります！
</p>
<p>【腸もみ・40代女性】
初めて腸もみを受けた後、ベルト1つ分ウエストが細くなり、胃がグルグル動き、いつもはお腹が空かない時間にお腹ペコペコになりました。
お通じもいつも違うものが出ました！
「腸もみ」恐るべしです！
</p>
<p>【腸もみ・50代女性】
10年前に腸の病気を患い、健康の大切さを痛感しました。『腸もみ』に出会いそれからは、健康を維持し、50歳になっても仕事を続けられています！
</p>

<p>【ハイパーナイフ・40代女性】
脚に付いた脂肪が固く、痛みまで出てきていました。
ハイパーナイフは、受ける時あたたかく気持ちが良く、行っている最中でも柔らかくなってくるのがわかりました！
続けると細くなると思いました！
</p>
<p>【ハイパーナイフ・30代女性】
脇腹のお肉が気になり、ハイパーナイフを受けようと思いました！
1回受けた後、実感はなかったのですが、友人に『シルエットが違う！』と言われ、2回目からは、自分自身でも変わってきたのがわかってきました！
嬉しいです！</p>
  </div>
  </div>
</div>






















