


		<!-- Start Slider-->

        <!-- End cssSlider -->
	<div class="main">
	<div class="block top_block">
  <h2 class="bg_sunflower">ichiについて</h2>
		<div class="contents"><h3><a>「一期一会」</a></h3>
		<h4>～once-in-a-lifetime encounter～</h4>
		<p>お客様にとっての、“No.1”、“Only1”になりたいという想いから、「ichi」と名付けました。</br>
		出会いを大切に想い、今できる最高のおもてなしをお客様にご提供いたします。</br>
		心、身体の疲れを癒し、慌ただしい日常とは違う空間で、心からリラックスしていただけるよう、</br>
		お客様のニーズ、コンディションに合わせ、あなただけのオリジナルメニューをご提案いたします。</br>

		お客様の本来の美しさを引き出し、お客様一人一人の魅力を最大限に引き出します。</br>
		ご自身へのご褒美に、ゆったりとした時間をプライベートサロン「ichi」でお過ごしいただけたら嬉しいです。</p><br></div>
	</div>
	<div class="block">
		<h2 class="bg_pinkflower">セラピスト紹介</h2>
		<div class="contents"><h3  style="margin-left: 3%;">オーナー：廣澤 愛</h3>
		<div style="display: flex;">
		<div style="width:50%; margin-left: 3%;"><img src="/images/ph_profile.jpg"s style="width:100%;" alt=""></div>
		<div style="width:100%; margin-left: 3%;">
			<table>
			<thead>
				<tr>
					<th style="width:20%;"><p>施術歴</p></th>
					<th>12年</th>
				</tr>
				<tr>
					<th><p>得意な技術</p></th>
					<th>タイ古式マッサージ</th>
				</tr>
				<tr>
					<th><p>趣味・マイブーム</p></th>
					<th>魚釣り</th>
				</tr>
				<tr>
					<th><p>ひとこと</p></th>
					<th style="width:50%;">女性でも安心してお越しいただけるようなプライベートサロンになっております。「ここに来て良かった。」と言っていただけるよう、日々努力しております。<br>至福の癒しを、「ichi」にてぜひご堪能ください。</th>
				</tr>
			</thead>
		</table></div>
		</div>
		</div>
		<h2 class="bg_blueflower">お客様の声</h2>
    <div class="contents">
		<p>廣澤さんの確かな技術と温かい笑顔に癒されて、昨年の11月からリピーターになりました。<br>
自分だけの時間を大切にしたい私にぴったりな、隠れ家的プライベートサロンです。</p>
	</div>
  </div>
</div>

