<% provide(:title, '新規作成') %>
<% provide(:button_text, '登録') %>

<div class="container text-center">
  <h2 class="d-inline-block border-bottom border-dark my-5">新規会員登録</h1>
  <p class="mb-5">
    会員として登録することで、Meeting Spaceをネットから予約することができます。<br>
    登録後はすぐにご利用できます。<br>
    ※Meeting Spaceを利用するためのユーザー登録です。
  </p>
  <%#= render 'form' %>
</div>

