<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>こちらはメール本文です</h1>
    <p>
      <%= @course_name %>
    </p>
  </body>
</html>