<%= link_to "<",change_show_user_path(current_user,prev:@first_day.ago(7.days)),remote:true, class: "btn btn-outline-secondary" %>
<span class="reservation_week text-wrap font-weight-lighter mx-1 px-1 text-center my-auto"><%= l(@first_day, format: :short_day) %>~<%= l(@first_day.since(6.days).to_date, format: :short_day) %></span>
<%= link_to ">",change_show_user_path(current_user,next:@first_day.since(7.days)),remote:true, class: "btn btn-outline-secondary" %>