<table border="0" style="border-collapse: collapse">
  <thead>
    <tr>
      <th class="week-day-th"></th>
        <% @week_day.each do |week_day| %>
          <td class="week-day-td <%= get_color(week_day) %>"><%= l(week_day, format: :long_mini) %></td>
        <% end %>
    </tr>
 </thead>
</table>