/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
  *= require_self　
  *= scaffolds.scss
  *=　application.scss
  *= registrations.scss
 *= require_tree .
 

 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "reservations";
@import "font-awesome";
@import "tempusdominus-bootstrap-4.css";





@charset "utf-8";
/* CSS Document */

html{
  font-size: 62.5%;/*16px*62.5%=10px*/
}

body,p,ol,ul,td{
  color: #404040;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:grayscale;
  line-height: 3.0rem;
  font-family: "Sawarabi Mincho";
}





.header,.main,.footer,img {
    width: 100%;
}

.header{
  border-bottom:1px gray solid;
}

img{
  max-width: 100%;
  height: auto;
}

li{
  // list-style: none;
}
.my-blue{
  color:#A0c0c0;
}
.contents{
  max-width: 790px;
  margin: 0 auto;
  text-align: left;
  padding: 20px 10px 40px;
  display:block;
}

p,th{
  font-weight: normal; 
  color: #404040;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:grayscale;
  line-height: 3.0rem;
}
@media only screen and (max-width: 899px){

body,p,ol,ul,td{
line-height: 2.6rem;
}
.contents{
    padding: 20px 20px 30px;
}
}
@media only screen and (min-width: 900px){
.main{
  text-align: center;
}
}


h2{
font-weight:bold;
  text-align: center;
  padding: 30px 0;
  position: relative;
  display: block;
  max-width: 100vw;
  font-size: 2.4rem;
  z-index:-1;
}

h2.bg_sunflower{
background:url(/images/bg_sunflower.png) no-repeat right -20% top 60%;
background-color:rgba(251,232,136,0.13);
}
h2.bg_pinkflower{
background:url(/images/bg_pinkflower.png) no-repeat right 0% top 20%;
background-color:rgba(241,124,182,0.13);
}
h2.bg_blueflower{
background:url(/images/bg_blueflower.png) no-repeat right 0% top 20%;
background-color:rgba(78,165,228,0.13);
}
h3{
  font-weight:bold;
  font-size:2.0rem;
  position:relative;
  line-height:2em;
  text-indent:2em;
  z-index: -1;
}
h3:before{
  position:absolute;
  left:-2%;
  content:"";
  display:inline-block;
  width:2em;
  height:2em;
  background:url(/images/icon_sunflower.png) no-repeat;
  background-size:contain;
  padding-right:5px;
}


a{
  color: #404040;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
   color: #ffffff;
   opacity:0.6;
}

dt{
font-weight: normal;
}

// h4{
//   padding:10px;
//   background:#A0c0c0;
//   border-radius: 4px;
//   color:#ffffff;
// }



.position-relative {
  position: relative;
}

.no-text-indent{
  text-indent: 0em;
}


header {
  padding:8px;
  background: #A0c0c0;
  position: relative;
}

#nav-drawer {
  position: relative;
  min-height:71px;
}

/*チェックボックス非表示に*/
.nav-unshown {
  display:none;
}


#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガー*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #ffffff;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 90%;
  max-width: 330px;
  height: 100%;
  background: #A0c0c0;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
  padding:20px;
}


#nav-input:checked ~ #nav-close {
  display: block;
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
  #nav-content ul li a{
    padding: 10px;
    width:100%;
    color:#ffffff;
  }
	#nav-content ul li a:hover{
		background: #ffffff;
    color:#A0c0c0;
	}
#nav-content-pc{
	display: none;
}
@media screen and (min-width:949px) {
header {
  height:90px;
}

  #nav-open {
    display:none;
  }
#nav-content-pc{
	display:block;
  position:absolute;
  top:36px;
}
#nav-content-pc ul{
	display: table;

}
#nav-content-pc ul li{
	display: table-cell;
	text-align: center;
}
#nav-content-pc ul li a{
  padding:8px;
  color:#ffffff;
  height:100%;
  border-bottom:1px dashed #dfdfdf;
  margin:0 8px;
}
#nav-content-pc ul li a:hover{
  background: #ffffff;
  color:#A0c0c0;

	}
}


.form{
  margin-bottom:20px;
}

.form-list{
	margin-bottom: 40px;
	border-bottom:1px solid #dfdfdf;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.form-title{
	padding:5px 10px;
	background:#A0c0c0;
	text-aline:center;
	color:#ffffff;
	border-radius:4px;
}

.form-item:first-of-type{
	border-top:none;
}
.form-item{
	width: 75%;
	padding:10px 0 20px;
}
.form-item input,
.form-item select,
.form-item textarea{
  border: 2px solid #dfdfdf;
}

@media screen and (max-width:768px){
/*--------------------------------------
form class
--------------------------------------*/
.form-title{
	width: 100%;
	border-top: none;
}
.form-item{
	width: 100%;
	padding: 10px 0;
	border-top: none;
}
}



// input[type=submit] {
// margin:0 auto;
//   font-weight: bold;
//   border: none;
//   outline: none;
//   display: block;
//   line-height: 30px;
//   // width: 160px;
//   text-align: center;
//   font-size: 13px;
//   color: black;
//   background-color: #A0c0c0;
//   border-bottom: 4px solid #A0c0c0;
//   cursor:pointer;
//   box-sizing: content-box;
//   transition: 0.1s ease all;
// }

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
 
footer {
  margin-top: auto;
}


input[type=submit]:hover{
  opacity: 0.6;
}

input[type=submit]:after {
    content:" ";
    display:block;
    clear:both;
}
footer{
  background:#A0c0c0; 
  clear: both;
 font-weight:normal;
}

.footer-box a,
.footer-box p
{
  color:#ffffff　!important;
  margin:10px 5px;
  padding:5px;
  display:inline;
  border-bottom:1px dashed #dfdfdf;
  font-size:16px;
}



.footer-box{

  padding: 40px;
  
}

label {
  margin-bottom: 0px; 
}

.footer-text {
  color: #ffffff;
}