// #faq_block dl{
//   margin-bottom: 10px;
// }

// #faq_block dt{
//   background-color:#A0c0c0;
//   padding: 10px;
//   border-radius: 5px 5px 0 0;
//   color:#ffffff;
// }
// #faq_block dd{
//   padding: 10px;
//   border:dotted #A0c0c0 2px;
//   border-top:none;
//   border-radius: 0 0 5px 5px;

// }

// button{
//   background-color:yellow;
// }

// /*ボタン装飾*/
// .hidden_box label {
//     padding: 15px;
//     font-weight: bold;
//     border: solid 2px #ffffff;
//     background-color: yellow;
//     float: right;
// }


/*チェックは見えなくする
.hidden_box input {
    display: none;
}
*/
/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
      max-width: 790px;
  margin-right:auto;
  margin-left:auto;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}
textarea{
  width:100%;
  height:100px;
  resize:vertical;
}

.card-header a:hover {
  color: #008080;
}

.card .bg-blue {
  background-color: #D7EEFF;
}
  


