@charset "UTF-8";

.woman-icon {
  width: 100px;
  height: 100%;
}

/* 吹き出し本体 */
.balloon1{
  position: relative;
  padding: 10px;
  border-radius: 10px;
  color: black;
  background-color: #D7EEFF;
  margin-left: 110px;          /* 左に余白を設ける */
}
/* 画像 - 絶対配置で左上に配置 */
.balloon1 .icon{
  position: absolute;
  left: -110px;
  top: 0;
}
/* 三角アイコン */
.balloon1::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -10px;
  top: 20px;
  border-right: 15px solid #D7EEFF;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

/* 吹き出し本体 */
.balloon2{
  position: relative;
  padding: 20px;
  border-radius: 10px;
  color: black;
  background-color: #EEFFFF;
  margin-right: 110px;          /* 右に余白を設ける */
}
/* 画像 - 絶対配置で右上に配置 */
.balloon2 .icon{
  position: absolute;
  right: -110px;
  top: 0;
op: 0;
}
/* 三角アイコン */
.balloon2::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: -10px;
  top: 20px;
  border-left: 15px solid #EEFFFF;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}


#pro_info{
  clear:both;
  width:100%;
}
#pro_info h3{
  margin-bottom:30px;
    color:#FFF;
    font-size:24px;
    line-height:1.0em;
    padding:17px 0 12px;
    text-align:center;	
}

#pro_info .profile{
    background-image:url(/images/ph_profile.jpg);
    background-position:center top !important;
    background-repeat:no-repeat !important;
    box-sizing:border-box;
    margin-left:5px;
    margin-right:5px;
    padding:310px 0 0 0;
    position:relative;
    width:calc(100% - 10px) !important;
  }



#pro_info .profile h4,
#pro_info .profile h5,
#pro_info .profile dt,
#pro_info .profile dd{
  padding-left:10px;

#pro_info .profile h4{
  font-size:24px;
  font-weight:bold;
	padding-top:5px;
	text-align:center;
  }

}

#pro_info dl.history dt{
  display:inline-block;
  margin-right:0px;
}
#pro_info dl.history dd{
  display:inline-block;
}
#pro_info .profile dt{
  color:#CC5289;
}



  #pro_info dt{
    box-sizing:border-box;
    display:inline-block;
    vertical-align:middle;
    width:28%;
  }
  #pro_info dd{
    box-sizing:border-box;
    display:inline-block;
    width:67%;
  }
  
  #pro_info dl{
    padding:10px 0;
    border-bottom:1px dashed #CC5289;
    margin:0;
  }
  #pro_info dl:first-child{
    padding-top:0;
  }
  #pro_info dl.technique,
  #pro_info dl.message{
    background-color:#FFFAF3;
  }

#pro_info .profile#hirosawa{
  background:url(/images/ph_profile.jpg) no-repeat;
  /*float:left;*/
  margin-top:0px;
      text-aline:center;
}





